{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static',filename='img/home-bg.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ params['title'] }}</h1>
            <span class="subheading">An intiative by {{ params['user'] }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

<!--Fetching using for loop from Database-->
        {%  for single_post in post  %}
              <div class="post-preview">
                <a href="/post.html/{{single_post.slug}}">
                  <h2 class="post-title">
                    {{ single_post.title }}
                  </h2>
                    </a>
                  <h3 class="post-subtitle">
                    Tag-line here
                  </h3>
                <p class="post-meta">Posted by
                  <a href="#"> Admin </a>
                  on {{ single_post.date }}</p>
              </div>
              {{ single_post.context[0:60] }} ...
        {% endfor %}
        <hr>

        <!-- Pager -->
          <div class="clearfix">
          <a class="btn btn-primary float-left" href="#">&#8592; Newer Posts </a>
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


